* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: 0px;
}

a {
  text-decoration: none;
}

body,
html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* utilities */
.container {
  max-width: 80%;
  margin: auto;
  text-align: center;
}

.button {
  background-color: white;
  display: inline-block;
  max-width: 200px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: normal;
  margin: auto;
  margin-top: 50px;
  color: black;
}

.button:hover {
  cursor: grab;
  background-color: black;
  color: white;
}

/* header */
header {
  display: block;
}

/* navbar */

nav {
  display: block;
}

#nav-wrapper {
  display: flex;
  flex-direction: row;
}

#logo {
  flex-grow: 4;
  display: flex;
}

#logo > #logo-img {
  align-self: center;
}

#logo > #logo-text {
  flex: 2;
  align-self: center;
  letter-spacing: 5px;
  color: black;
  padding: 0 5px;
}

#nav {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

.nav-item {
  flex-grow: 1;
  align-self: center;
}

.nav-link {
  color: black;
  display: inline-block;
  padding: 13px;
}

.nav-link:hover {
  background-color: grey;
  cursor: grab;
}

#nav {
  list-style: none;
}

/* main */
main {
  display: block;
}

#landing {
  display: grid;
  place-content: center;
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/res/banner.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#landing > #landing-text {
  text-align: center;
  transform: translate(0%, 20%);
  color: white;
  letter-spacing: 10px;
}

#landing > #landing-text > h1 {
  margin-top: 10px;
  font-weight: 500;
}

#landing > #landing-text > h2 {
  font-weight: 500;
}

#landing > #landing-text .white-logo {
  filter: invert(70%) brightness(118%) contrast(119%);
}

/* footer */
footer {
  display: block;
}

#footer-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 10px;
}

#footer-wrapper > #footer-copyright {
  flex-grow: 1;
  color: grey;
}

.footer-social-icon {
  filter: invert(50%) brightness(88%) contrast(79%);
}
