    <footer>
      <div id="footer-wrapper">
        <div id="footer-copyright">
              Copyright © 2021 The Shuttlecraft Team
        </div>
        <div id="footer-social-wrapper">
          <div class="footer-social">
              <a class="footer-social-link"
                 href="https://github.com/shuttlecraft">
                <img
                  class="footer-social-icon"
                  width="35px"
                  src="/res/github-circle.svg"
                  alt="github icon"
                />
              </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
