{{ partial "header" . }}
<main>
    <div id="landing">
      <div id="landing-text">
        <img
          height="150px"
          class="white-logo"
          width="150px"
          src="/res/rocket.svg"
          alt=""
          srcset=""
        />
        <h1>
          SHUTTLECRAFT
        </h1>
        <h2>
          YOUR TRANSPORT TO PRIVACY
        </h2>
        <a class="button" href="/about">
          Learn More
        </a>
      </div>
      </div>
  </main>
{{ partial "footer" . }}
